
body {
    font-family: Arial, sans-serif;
    background: #f4f4f9;
    margin: 0;
    padding: 20px;
    color: #333;
}
.post {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
h1 {
    text-align: center;
    color: #4F4F4F;
}
.post h2 {
    margin: 0 0 10px;
    font-size: 22px;
    color: #333;
}
.post p {
    margin: 0 0 10px;
    line-height: 1.6;
}
.author {
    font-size: 14px;
    color: #666;
}
.btn a{
display: inline-block;
text-decoration: none;
background-color:white;
padding: 0.5rem 1rem;
color: #333;
border-radius: 0.375rem;
font-weight: 500;
transition: background 0.2s;
}
