
body {
    font-family: Arial, sans-serif;
    background: #f4f4f9;
    margin: 0;
    padding: 20px;
    color: #333;
}
.post {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
h1 {
    text-align: center;
    color: #4F4F4F;
}
.post h2 {
    margin: 0 0 10px;
    font-size: 22px;
    color: #333;
}
.post p {
    margin: 0 0 10px;
    line-height: 1.6;
}
.author {
    font-size: 14px;
    color: #666;
}
.add_btn a{
display: inline-block;
text-decoration: none;
background-color:white;
padding: 0.5rem 1rem;
color: #333;
border-radius: 0.375rem;
font-weight: 500;
transition: background 0.2s;
}
form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.form-container {
    width: 100%;
    max-width: 500px;
    margin:0 auto;
}

input, textarea, button {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

button {
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
button.btn,
a.btn {
    width: auto;       /* remove full width */
    padding: 5px 12px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    background-color: #e74c3c;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button.btn:hover {
    background-color: #c0392b;
}
.btn.delete {
    background-color: #e74c3c; /* red */
}

.btn.update {
    background-color: #2ecc71; /* green */
}

form.delete-form {
    display: inline;
    margin: 0;
    padding: 0;
}

